@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

h1{
    background-color:blueviolet;
    font-size: 50px;
    color:blanchedalmond;
    font-family: 'Rubik 80s Fade', cursive;
    }
    p{
        background-color:aqua;
        font-size: 20px;
        color:black
    }